language: php

sudo: false

cache:
    directories:
        - "$HOME/.composer/cache"

env:
  global:
    - COMPOSER_FLAGS="--prefer-stable"

matrix:
  include:
    - php: 7.3
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 7.3
      env: COMPOSER_FLAGS=""
    - php: 7.4
  allow_failures:
    - php: nightly

install: composer update $COMPOSER_FLAGS --prefer-dist

script: vendor/bin/phpunit  --coverage-text
